*{
    text-align: center;
    margin: 0%;
    padding: 0%;
}

header{
    color: rgb(216, 216, 216);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    text-align: center;
   
}
body{
    color: #ffffff;
    background-image: linear-gradient(#0c3d54, #0a5b52);
    text-align: center;

}

.cabeçalho-imagem {
 width: 0%;

 }

 .cabeçalho-lista-item {
    display: list-item;
    margin: 6% 16px;
    font-size: 10px;
}

.cabeçalho-imagem {
    width: 2%;
}